.Friend {
  height: 12%;
  width: 100%;
  border-bottom: .1rem solid gray;
  position: relative;
}

.Friend-picture {
  position: absolute;
  height: 6rem;
  width: 6rem;
  top: 50%;
  left: 14%;
  transform: translate(-50%, -50%);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border: .1rem solid gray;
}
.Friend-picture-img {
  height: 100%;
}

.Friend-name {
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translateY(-50%);
  font-size: 2.6rem;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
}
