.ChatScreen {
  height: 100%;
}

.ChatScreen-user {
  height: 12%;
  border-bottom: .1rem solid gray;
  position: relative;
}

.ChatScreen-user-picture {
  height: 8rem;
  width: 8rem;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border: .2rem solid gray;
}

.ChatScreen-user-picture-img {
  height: 100%;
}

.ChatScreen-user-name {
  font-size: 3.5rem;
  position: absolute;
  top: 50%;
  left: 14%;
  transform: translateY(-50%);
  color: black;
}

.ChatScreen-main {
  height: 88%;
}

.ChatScreen-main-messaging {
  height: 86%;
  border-bottom: .1rem solid gray;
  padding-top: 2rem;
  overflow-y: scroll;
}

.ChatScreen-main-sending {
  height: 14%;
  background-color: #cccccc;
  position: relative;
}

.ChatScreen-main-sending-input {
  height: 40%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  border-radius: 10rem;
  background-color: white;
  padding: 1rem;
  padding-left: 2rem;
}

.ChatScreen-main-sending-btn {
  height: 50%;
  width: 10%;
  position: absolute;
  top: 50%;
  left: 91%;
  transform: translate(-50%, -50%);
  border-radius: 100rem;
  font-size: 1.8vw;
  background-color: blue;
  color: white;
}